.btn {
    border: 1px solid #222222;
    text-align: center;
    outline: none;
    transition: box-shadow 0.3s;
    cursor: pointer;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;

    &:hover{
        box-shadow: 0 0 5px 1px #222222;
    }
}
.dis {
    opacity: .5;
    &:hover{
        box-shadow: none;
    }
}
