.junior {
  padding-left: 65px;

  .wrap{
    display: flex;
  }
  .switchContainer{
    padding: 50px 0;
    background-color: #ffffff;
    text-align: center;
  }
}

.btnContainer {
  display: flex;
  padding: 10px;

  & .btnBox:nth-child(1) {
    margin-right: 10px;

    & .btn {
      background-color: #bada55;
      color: #222222;
    }
  }
}