.junior {
  padding-left: 65px;
  transition: background-color .3s, color .3s ease-in;

  .wrap{
    display: flex;
  }
  .switchContainer{
    padding: 50px 0;
    text-align: center;
  }

  &.darkTheme{
    transition: all .3s ease-in;
    background-color: #222222;
    color: #ffffff;

    .menu {
      border-right: 1px solid #6a6a6a;
    }
  }
}

.btnContainer {
  display: flex;
  padding: 10px;

  & .btnBox:nth-child(1) {
    margin-right: 10px;

    & .btn {
      background-color: #bada55;
      color: #222222;
    }
  }
}